## Import necessary packages

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import hypertools as hyp
import matplotlib.pyplot as plt
%matplotlib inline
sns.set_context('poster')

## Load in csv file

In [8]:
data = pd.read_csv('GSS 4.csv')
data.set_index('Unnamed: 0', inplace=True)

In [9]:
data.head()

,birth_year,region,health,general_happy,past_week_happy,see_friends,see_relatives,income,work_hours,Job satisfaction,weekend_internet,weekday_internet,use_twitter,internet_per_week
Unnamed: 0,,,,,,,,,,,,,,
0,1969.0,New england,Good,Pretty happy,NaN,Sev times a year,Almost daily,$170000 or over,NaN,Mod. satisfied,NaN,NaN,NaN,NaN
1,1955.0,New england,NaN,Pretty happy,NaN,Sev times a year,Sev times a year,$50000 to 59999,NaN,Very satisfied,NaN,NaN,No,NaN
2,1944.0,New england,Good,Very happy,Most of the time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN
3,1973.0,New england,Good,Pretty happy,NaN,Sev times a week,Sev times a week,$10000 to 12499,NaN,Very satisfied,NaN,NaN,NaN,NaN
4,1961.0,New england,Excellent,Very happy,Most of the time,NaN,NaN,$1 000 to 2 999,NaN,Mod. satisfied,1.0,1.0,No,7.0