In [ ]:
import pandas as pd
import numpy as np
import hypertools as hyp
%matplotlib notebook

In [ ]:
#load in the data

fname = 'At Risk Students For Dartmouth.xlsx'
sheet1 = 'Year 16-17'
sheet2 = 'Year 17-18 9.25.17'
columns = ('id', 'grade', 'age', 'school', 'sex', 'homeless', 'disadvantaged', 'specialneeds',
           'excused1', 'unexcused1', 'tardy1',
           'excused2', 'unexcused2', 'tardy2',
           'excused3', 'unexcused3', 'tardy3',
           'excused4', 'unexcused4', 'tardy4')
y1_data = pd.read_excel(fname, sheetname=sheet1, skiprows=[0], names=columns)
y2_data = pd.read_excel(fname, sheetname=sheet2, skiprows=[0], names=columns)

#use student IDs as the index
y1_data.set_index('id', inplace=True)
y2_data.set_index('id', inplace=True)

In [ ]:
pd.unique(y1_data['specialneeds'])

In [ ]:
#do some data cleaning

#in "disadvantaged" column, replace "YES" with 1 and NaN with 0
y1_data['disadvantaged'] = y1_data['disadvantaged'].map({np.nan: 0, 'YES': 1})
y2_data['disadvantaged'] = y2_data['disadvantaged'].map({np.nan: 0, 'YES': 1})

#in "specialneeds" column, 
y1_data['specialneeds'] = y1_data['specialneeds'].map({np.nan: 0, 504: '504', 'IEP': 'IEP'})
y2_data['specialneeds'] = y2_data['specialneeds'].map({np.nan: 0, 504: '504', 'IEP': 'IEP'})


#replace '---' with 0 (Fourth marking period columns)
y1_data.replace('---', 0, inplace=True)
y2_data.replace('---', 0, inplace=True)

In [ ]:
y1_data[y1_data['school'] == 'Hartford High School/HACTC']

In [ ]:
grade9 = y1_data['grade'] == 9
grade10 = y1_data['grade'] == 10
grade11 = y1_data['grade'] == 11
grade12 = y1_data['grade'] == 12

hs_students = y1_data.loc[grade9 | grade10 | grade11 | grade12]

#get students' gender

#tally up number of absences per student

#make a histogram of absenses by gender

In [ ]:
hs_students.head()

In [ ]:
sns.factorplot(data=, x=“grade”, y=“sum_absent”, hue=“age”,
               col=“sex”, kind=“swarm”)

In [ ]:
help(sns.factorplot)